<div class="simple-pagination">
	<button {{action "sendChangePageAction" -1}} disabled={{paginator-button-disable-check currentPage numPages -1}}>&lt;</button>
	<div class="page-count">{{currentPage}}/{{numPages}}</div>
	<button {{action "sendChangePageAction" 1}} disabled={{paginator-button-disable-check currentPage numPages 1}}>&gt;</button>
</div>