<div class="search-results-container">
	{{#if model.streams}}
		{{total-results totalResults=model._total}}
	{{/if}}

	{{#if (more-than-one-page model._total) }}
		{{simple-pagination class="simple-pagination-top-right" currentPage=model.current_page numPages=(calculate-total-pages model._total) changePage=(action "changePage")}}
	{{/if}}

	{{#each model.streams as |stream|}}
		{{stream-listing stream=stream}}
	{{else}}
		<h4>No streams found!</h4>
	{{/each}}

	{{#if (more-than-one-page model._total) }}
		{{simple-pagination class="simple-pagination-bottom-right" currentPage=model.current_page numPages=(calculate-total-pages model._total) changePage=(action "changePage")}}
	{{/if}}
</div>